@import "./navbar.css";
@import "./home.css";
@import "./stepcontainer.css";
@import "./vendor.css";
@import "./client.css";
@import "./team.css";
@import "./contact.css";
@import "./blog.css";
@import "./footer.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');

:root{
  --pink:#EE0548;
  --black:#130f40;
}


*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: .2s linear;
    text-transform: capitalize;
  }
  
  *::selection{
    background:var(--pink);
    color:#fff;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
  }

  body{
    background:var(--black);
  }
  
  section{
    padding:3rem 9%;
  }




  
.btn{
  display: inline-block;
  margin-top: 1rem;
  border:.2rem solid var(--black);
  color:var(--black);
  font-size: 1.7rem;
  padding:.8rem 3rem;
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--pink);
  border-color: var(--pink);
  color:#fff;
}

.heading{
  padding-bottom: 2rem;
  text-align: center;
}

.heading h1{
  font-size: 4rem;
  color:#fff;
  padding-bottom: 1rem;
  text-transform: uppercase;
}


















/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: block;
  }

  header .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background:var(--black);
    padding:1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    display: block;
    background:#fff;
    border-radius: .5rem;
    color:var(--black);
    margin:1.5rem;
    padding:1rem 2rem;
    font-size: 2.5rem;
  }

  .home{
    justify-content: center;
    background-position: left;
  }

  .home .content{
    text-align: center;
  }

  .home .content span{
    font-size: 2rem;
  }

  .home .content h3{
    font-size: 4rem;
    width:auto;
  }

  .clients .row{
    flex-flow: column;
  }

  .clients .row .divider{
    display: none;
  }

  .clients .row .box-container:last-child .box{
    display: flex;
    flex-flow: column-reverse;
  }

  .contact form .inputBox input{
    width:100%;
  }

}


@media (max-width:450px){

  html{
    font-size: 50%;
  }

}
